* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 2rem !important;
}

p {
    font-size: 1.5rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.about>div {
    grid-column: 3/7;
    padding: 5rem 0;
}

@media screen and (max-width:860px) {
    .about {
        display: block;
    }

    .about>div {
        padding: 3rem !important;
    }
}